@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

// Typography
$fontFamily: "Noto Sans JP", sans-serif;

// Color
$primaryColor: #130f27;
$lightColor: #8588a6;
$darkColor: #333;
$primaryBgcTextColor: $lightColor;
