@import "./variables";
@import "./reboot";

.logo {
  text-align: center;
}

.hero-list {
  .flex {
    flex-wrap: wrap;
    align-items: initial;
  }

  .card {
    padding: 0;
    overflow: hidden;
    width: 180px;

    &__header {
      width: 100%;
    }

    &__body {
      padding: 10px;
      text-align: center;
    }

    a {
      color: $lightColor;
    }

    &:hover {
      transform: scale(0.98);
    }
  }
}

.hero-details {
  .container {
    &.flex {
      flex-direction: column;
      justify-content: initial;
    }
  }

  .card {
    max-width: 440px;
    margin: 10px auto;
    padding: 10px;

    &.flex {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  h3 {
    text-align: center;
  }

  &__image {
    width: 240px;
    margin-left: auto;
  }

  &__stats {
    padding: 10px;
  }

  .container > .btn {
    text-align: center;
  }
}

.pagination {
  text-align: center;

  .flex {
    justify-content: space-around;
  }
}

@import "./utilities";
@import "./media-queries";
